    <div class="container">
      <div class="layered-paper">
        <div class="timestamp">3:05 p.m., August 11, 2011</div>
        <div id="vitals">
          <h1>Hello, I'm Henry Keith Kirk.</h1>
          <p>I was born at 3:05 p.m. on Thursday, August 11, 2011, in Munster, Indiana.</p>
        </div>
        <div class="big-image">
          <img src="photos/henry1.jpg" />
        </div>
      </div>
      <div class="layered-paper">
        <div class="timestamp">3:05 p.m., August 11, 2011</div>
        <div class="row-images">
          <div class="medium-image">
            <img src="photos/henry2.jpg" />
          </div>
          <div class="medium-image">
            <img src="photos/henry3.jpg" />
          </div>
          <div class="medium-image">
            <img src="photos/henry4.jpg" />
          </div>
          <p>Henry and @Chelsea_Kirk are doing just great! He weighed 8lbs. 14oz. and was 21 1/4 inches long.</p>
        </div>
      </div>
      <div class="layered-paper">
        <div class="timestamp">3:05 p.m., August 11, 2011</div>
        <div class="big-video">
            <video class="video" width="100%" height="100%" controls>
              <source src="videos/henry1.m4v" />
            </video>
        </div>
      </div>
      <p>More stuff down here.</p>
    </div> <!-- /container -->
