

    <div class="container">
      <div class="layered-paper">
        <div id="vitals">
          <h1>About Weebrag</h1>
          <p>This is a Bloc class project by Joey Kirk.</p>
        </div>
      </div>
    </div> <!-- /container -->
